.container-login {
    width: 100%;
    height: 100%;
    display: flex;
   flex-wrap: wrap;
   background-color: #fff;

}

.login-section {
    padding-left: 6rem;
}

.modal-content {
    border: none;
    border-radius: 0%;
    height: 100%;
}

.closeBtn {
    background: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: .3rem 1.3rem;
    position: absolute;
    right: -2.2rem;
    right: -3.8rem;
    top: 0;
}

.login-text {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 4.5rem;
}
.form-group {
    display: flex;
    flex-direction: row !important;
}
.form-control {
    border: .1rem solid black;
    border-radius: 0;
    width: 100%;
}

.btn {
    background-color: black;
    color: white;
    display: block;
    width: 130%;
    border-radius: 0%;
    margin-top: 2rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: 'black';
    margin-top: 4.5rem;

    a {
        color: var(--bs-body-color);
    }
}

.box-brand {
    width: 26%;
    border: .1rem solid lightgrey;
    border-radius: 1rem;
    margin-left: 6%;
    height: 45rem;
    margin-top: 4%;

    .brand {
        width: 100%;
        height: 33rem;
     
    }
    .logo {
        vertical-align: middle;
        height: 8rem;
        text-align: center;
        margin-left: 30%;
    }
}


@media (max-width: 700px){
    .box-wrapper {
        flex-direction: column;
    }
}