.container {
    width: 100%;
    display: block;
    border-style: var(--bs-border-style);
    border-width: var(--bs-border-width);
    border-color: var(--bs-border-color);
    top: 0;
    position: fixed;
    height: 500px;

    h2 {
        text-align: center;
        font-family: var(--bs-body-font-family);
    }

}

.btn-wrapper {
    display: flex; 
    padding-left: 4rem;

    button {
        color: var(--bs-body-color);
        border-style: var(--bs-border-style);
        border-width: var(--bs-border-width);
        border-color: var(--bs-border-color);
        width: 30rem;
    }
}