.category-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(240, 240, 240);
  padding: 5rem;
  padding-bottom: 7rem;
}
.category-section h2 {
  font-family: 'Playfair Display';
  text-align: center;
  font-weight: bold;
}

.container-fluid-1 {
  margin: 0 1rem;
}
.product-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.col-wrap {
  padding-right: 0%;
}
.img-fluid {
  max-width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
}

.banner img {
  max-width: 100%;
  min-height: 100%;
  padding: 0;
  flex-wrap: wrap;
  vertical-align: middle;
}

.collection ul {
  display: flex;
  list-style-type: none;
  max-width: 100%;
  margin: 0 auto;

  li {
    padding-left: 1.6rem;
    text-align: center;

    button {
      border: none;
      background: none;
      color: #a2a2a2;
      font-size: 1.7rem;
      margin: 0 auto;
      line-height: inherit;
      font-family: inherit;
      position: relative;

      &:hover {
        color: black;
        border: .1rem solid lightgray;
      }
    }
  }
}

.btn-collection::after {
  content: "";
  position: absolute;
  max-width: 100%;
  transform: scaleX(0);
  height: .2rem;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-collection:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.row-products {

  margin: 0 8rem;

  img {
    min-height: 39rem;
    vertical-align: middle;
  }
}


.row-products a {
  color: black;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  margin-left: 3rem;
}

.product-category a::after {
  content: "";
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: .2rem;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.product-category a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;

}

.collection h2 {
  font-family: 'Playfair Display';
  text-align: center;
  font-weight: bold;
}

.swiper-button-prev , 
.swiper-button-next {
  color: #fff;
  opacity: 0.8;
}


@media (max-width: 900px) {
  .collection-img-section img {
    height: 20rem;
    width: 15rem;
  }
  .collection-img-section  a {
    font-size: 1.3rem;
  }
}